.Table {
    display: flex;
    justify-content: center;
}

.Table table {
    border: solid 2px #2e479b;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: separate;
}

.Table table th {
    /* border: solid 1px #000; */
    padding: 0.5em 1.25em 0.5em 1.25em; 
    background: #2e479b;
    color: #fff;
}

.Table table td {
    /* border: solid 1px #000; */
    padding: 0.25em 0.5em 0.25em 0.5em; 
}

.Table table tr {
    border-bottom: solid 1px #000;
}
